.playlists {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;

  .playlist {
    flex-basis: calc(25% - 30px);
    padding: 0 15px;
    margin-bottom: 50px;

    .imageWrapper {
      .image {
        height: 170px;
        width: 170px;
        border-radius: 50%;
        margin: 0 auto;
      }
    }

    img {
      height: 170px;
      width: 100px;
      object-fit: cover;
    }

    .details {
      width: 100%;
      text-align: center;
      margin-top: 20px;

      .artist {
        margin: 0;
        font-size: 1.6rem;
        font-weight: normal;
        line-height: 1.2;
      }
    }
  }
}
