.featureTemplate {
  position: relative;
  height: 100%;

  .banner {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;

    .coverImage {
      height: 100vh;
    }

    .details {
      position: absolute;
      bottom: 0;
      width: 1000px;
      margin: 0 0 80px 180px;

      .credit {
        display: flex;
        color: white;
        font-size: 2rem;

        a {
          color: white;
        }

        .date,
        a {
          margin-right: 40px;
        }
      }

      .title {
        margin: 0;
        color: white;
        font-size: 8rem;
      }
    }
  }

  .articleContent {
    width: calc(100vw - 95px);
    float: right;
    transform: translateY(100vh);
    background-color: white;

    .body {
      width: 600px;
      margin: 80px auto;
    }
  }
}
