.albums {
  display: flex;
  overflow-y: hidden;
  padding-top: 20px;
  &::-webkit-scrollbar {
    display: none;
  }

  .album {
    width: 100%;
    min-height: 100px;
    transition: transform 450ms;
    padding: 0 15px;
    margin-bottom: 50px;
    &:hover {
      transform: scale(1.08);
    }

    .imageWrapper {
      .image {
        height: 170px;
      }
    }

    .details {
      .title {
        margin: 0;
        font-size: 1.6rem;
        font-weight: normal;
        line-height: 1.2;
      }
    }
  }
}
